.tic-tac-toe-cell {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.tic-tac-toe-cell:hover {
    cursor: pointer;
}

.empty-cell {
    background: #fff;
}

.empty-cell:hover {
    background: #88D5E9;
}

.full-cell:hover {
    background-color: rgba(200, 0, 0, 0.2);
    cursor: auto;
}