/*@import url('https://fonts.googleapis.com/css?family=Merriweather');*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Merriweather');

*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.clear-fix:after {
    clear: both;
    content: "";
    display: table;
}

/*Game Component */

.gameComponent {
    float: left;
}

/*GameOptions Component*/

.gameContainer {
    width: 90%;
    margin: 0 auto;
}

/*Main Header*/
.main-header {
    font-size: 60px;
    text-align: center;
    display: block;
    font-family: "Indie Flower", cursive, "Merriweather", serif;
}